<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>TweetVoteML</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <span>
          <img src="static/hill.jpg" class="img-circle" width="200" height="200">
          <h1><span class="t1">Tweet</span><span class="t2">Vote</span><span class="t3">ML</span></h1>
          <img src="static/trump.jpg" class="img-circle" width="200" height="200">
        </span>
      </div>
      <br>
      <form action="." method="POST">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="Send">
      </form>
      <form action="." method="POST">
        <input type="submit" name="my-form" value="Reset">
      </form>

      <br>
      
      <div><h4>Hey, @{{name}}! {{ratio}}% of your Tweets indicate you support {{vote}}.</h4></div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ratio}}"
        aria-valuemin="0" aria-valuemax="100" style="width:{{ratio}}%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>
      
    </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>

  </body>
</html>