/* custom styles */

.container {
  background-color: #99EEFF;
  text-align: center;
  padding-top: 50px;
  max-width: 300px;
}

.t1 {
  color: #AA0000;
}
.t2 {
  color: #0000AA;
}
.t3 {
  color: #FFFFFF;
}

body {
  background-color: #99EEFF
}

input {
  text-align: center;
  border: 5px solid;
  padding: 13px 12px;
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
}


ul {
  margin-left: 20px;
  text-align: left;
}